<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1><span ng-bind="username"></span></h1>
			<p>
				Name: <span ng-bind="user.firstName + ' ' + user.lastName"></span>
			</p>
			<p>
				Email: <span ng-bind="user.email"></span>
			</p>
			<p>
				Phone: <span ng-bind="user.phone"></span>
			</p>
			<p>
				*Admin*: <span ng-bind="isAdmin"></span>
			</p>
			<p>
				<a href="#/profile/update">Change information &gt;</a>
			</p>
		</div>
		<div class="col-sm-6">
			<h1>Bookings</h1>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="booking in bookings">
					{{booking}}
					<button ng-show="bookings.length" type="button" class="btn btn-danger" ng-click="deleteBooking(booking.bookingID)">Delete</button>
				</li>
			</ul>
		</div>
	</div>
</div>
